<div class="app-container d-md-flex justify-content-center align-items-center">
  <div class="row w-100 h-100 no-gutters">
      <div class="col-12 col-md-5 col-lg-5 col-xl-4 col-xxl-3 m-auto app-wrapper">
          <mat-card class="app-card">
              <mat-card-header>
                  <div mat-card-avatar class="header-avatar"></div>
                  <p class="mt-3"><b>{{address}}</b></p>
              </mat-card-header>
              <mat-card-content>
                  <mat-horizontal-stepper [linear]="isLinear" #stepper>
                      <mat-step>
                          <ng-template matStepLabel>Start</ng-template>
                          <img class="mat-card-image app-card-image" style="margin-top:3rem!important"
                              src="/assets/img/icons-sprites-header.png" alt="app-header">
                          <mat-divider></mat-divider>
                          <div class="d-flex flex-column justify-content-center card-content-div">
                              <div>
                                  <button mat-stroked-button matStepperNext class="app-button start-button"
                                      (click)="started()">Start</button>
                              </div>
                              <div>
                                  <p>You need MetaMask to use this <br> application. <br><a href="#"><b>How to
                                              install?</b></a></p>
                              </div>
                              <mat-divider></mat-divider>
                          </div>
                      </mat-step>
                      <mat-step optional>
                          <form>
                              <ng-template matStepLabel>About</ng-template>
                              <div class="mt-3 text-center">
                                  <p>Identity Creation: <b>Tell Something About You</b></p>
                                  <mat-divider></mat-divider>
                              </div>
                              <img class="mat-card-image app-card-image" src="/assets/img/icons-sprites-header.png"
                                  alt="app-header">
                              <div class="d-flex justify-content-center">
                                  <mat-form-field class="w-50 mr-2">
                                      <input matInput placeholder="Name">
                                  </mat-form-field>
                                  <mat-form-field class="w-50">
                                      <input matInput placeholder="Last Name">
                                  </mat-form-field>
                              </div>
                              <div class="d-flex justify-content-center">
                                  <mat-form-field class="w-75 mr-2">
                                      <input matInput placeholder="Address">
                                  </mat-form-field>
                                  <mat-form-field class="w-25">
                                      <input matInput placeholder="Province">
                                  </mat-form-field>
                              </div>
                              <div class="d-flex justify-content-center">
                                  <mat-form-field class="w-100">
                                      <input matInput placeholder="Email">
                                  </mat-form-field>
                              </div>
                              <div class="d-flex justify-content-center">
                                  <mat-form-field class="w-100">
                                      <input matInput placeholder="Avatar Url">
                                  </mat-form-field>
                              </div>
                              <div class="w-100 text-center">
                                  <button mat-button matStepperPrevious>Back</button>
                                  <button mat-button matStepperNext>Next</button>
                              </div>
                          </form>
                      </mat-step>
                      <mat-step [stepControl]="secondFormGroup">
                          <form>
                              <ng-template matStepLabel>Claim</ng-template>
                              <div class="mt-3 text-center">
                                  <p>Identity Creation: <b>Add your first claim</b></p>
                                  <mat-divider></mat-divider>
                              </div>
                              <img class="mat-card-image app-card-image" src="/assets/img/icons-sprites-header.png"
                                  alt="app-header">
                              <p><b>Instructions:</b></p>
                              <p>Login into your Github Account.<br> Create a <b>public</b> gist named <b>Bind.txt</b>
                              </p>
                              <p>Paste this code.</p>
                              <mat-card class="mt-2 mb-2 token-card">
                                  <p class="mr-2">{{fakeToken}}</p>
                                  <i class="mat-icon notranslate material-icons mat-icon-no-color">
                                      content_copy
                                  </i>
                              </mat-card>
                              <p>Provide your Github Username</p>
                              <mat-form-field class="w-50 mr-2 mt-2">
                                  <input matInput placeholder="Github Username" required>
                              </mat-form-field>
                              <div class="">
                                  <p>Request claim.</p>
                                  <p><b>Confirm</b> on MetaMask</p>
                                  <button mat-stroked-button matStepperNext class="app-button confirm-claim-btn">Claim</button>
                              </div>

                          </form>
                      </mat-step>
                      <mat-step [stepControl]="secondFormGroup">
                          <form>
                              <ng-template matStepLabel>Done</ng-template>
                              <div class="mt-3 text-center">
                                  <p>Identity Creation: <b>Add your first claim</b></p>
                                  <mat-divider></mat-divider>
                                  <img class="mat-card-image app-card-image"
                                      src="/assets/img/icons-sprites-header.png" alt="app-header">
                                  <p class="mb-2">Congratulation!</p>
                                  <p style="font-size:18px"><b>{{fakeName}}</b></p>
                                  <p class="mt-2">Github Account successfully <b>claimed</b></p>
                              </div>
                              <div class="d-flex flex-column justify-content-center card-content-div">
                                  <div>
                                      <button mat-stroked-button matStepperNext class="app-button start-button"
                                          (click)="started()" routerLink="/dashboard">Open Dashboard</button>
                                  </div>
                                  <mat-divider></mat-divider>
                              </div>
                          </form>
                      </mat-step>
                  </mat-horizontal-stepper>
              </mat-card-content>
              <!-- <mat-card-actions>
                  <button mat-button>Need Help?</button>
              </mat-card-actions> -->
          </mat-card>
      </div>
  </div>
</div>