/* APP CARD */

.app-wrapper {
    height: 100vh;
    max-width: 458px;
    max-height: 650px;
}

.app-container {
    height: 100vh;
}

.app-card {
    height: 100%;
    border-radius: 8px;
}

.app-card-image {
    max-height: 150px;
    margin: 15px auto !important;
    width: 80%;
    display: flex;
}

.app-card .mat-card-header {
    background: #73cde7;
    margin: -16px -16px 0px -16px;
    border-radius: 8px 8px 0 0;
    height: 60px;
}

.app-card .header-avatar {
    background-image: url('/assets/img/finger-print-transparent.png');
    background-size: cover;
    margin: 10px -5px 0 5px;
}

.app-card .mat-divider {
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.app-card .app-button {
    background-color: #ff6624;
    color: white;
    font-weight: bold;
    font-size: large;
}

.app-card .start-button {
    width: 250px;
    height: 65px;
    margin: 60px auto;
    text-transform: uppercase;
}

.card-content-div * {
    text-align: center;
}

.app-card .token-card {
    word-break: break-all;
    display: flex;
    background-color: #f4f4f4;
}

/* BUTTONS */

button:focus {
    outline: none !important;
}

.app-card p {
    font-size: 15px;
    margin-bottom: 0;
}

/* STEPPER STYLE */
.app-card .mat-stepper-horizontal {
    display: flex;
    flex-direction: column-reverse;
    height: 590px;
    max-width: calc(100vw - 30px);
}

.app-card .mat-step-label.mat-step-label {
    text-align: center;
}

.app-card .confirm-claim-btn {
    position: relative;
    bottom: 35px;
    left: 55%;
    width: 126px;
    font-size: medium;
}