/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* STEPPER */
.mat-step-header {
    padding: 0 2px!important;
}

.mat-card-header-text {
    margin: 0 10px!important;
}

.app-card .mat-horizontal-content-container{
    flex-grow: 1;
}